.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home-menu,
.home-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    box-shadow: inset 0 0 0 1000px #4499df78;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-menu {
    background-image: url('https://www.thespruceeats.com/thmb/_x5cGFh26Ecf32WFCyql4y9OLaA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/types-of-bubble-tea-766451-hero-01-a6dca4dd096a4d8abdde1a754766f851.jpg');
}

.home-about {
    background-image: url('https://food.unl.edu/newsletters/images/fresh-fruit.-colorful.jpg');
}

.home-menu h1,
.home-about h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: white;
}

.home-menu h2,
.home-about h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}


.home button {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: #ffe54c;
    margin-bottom: 2rem;

}

/* Desktop styles */
@media only screen and (min-width: 768px) {

    .home-menu h1,
    .home-about h1 {
        font-size: 3rem;
        margin-bottom: 1rem;

    }

    .home-menu h2,
    .home-about h2 {
        font-size: 2rem;
        margin-bottom: 2rem;

    }
}